/* documentary css */
.example {
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    background-color: #fafafa;
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
}
.example {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
}
.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
.model {
    margin-left: 0;
    margin-right: 0;
    background-color: #f7f7f9;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 0 0 4px 4px;
    box-shadow: none;
    font-size: 12px;
}
.example>.show-code {
    height: 25px;
    text-align: right;
    margin-top: -30px;
}
.show-code .close {
    font-size: 12px;
}
.highlight pre {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.example+.highlight {
    margin: -15px -15px 15px;
    border-radius: 0;
    border-width: 0 0 1px;
}
.example+.highlight {
    margin-top: -16px;
    margin-left: 0;
    margin-right: 0;
    border-width: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.example+.model {
    margin: -15px -15px 15px;
    border-radius: 0;
    border-width: 0 0 1px;
}
.example+.model {
    margin-top: -16px;
    margin-left: 0;
    margin-right: 0;
    border-width: 1px;
}
.model+.highlight {
    margin: -15px -15px 15px;
    border-radius: 0;
    border-width: 0 0 1px;
}
.model+.highlight {
    margin-top: -16px;
    margin-left: 0;
    margin-right: 0;
    border-width: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.example:after {
    content: "Example";
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.highlight:before {
    content: "Code";
    font-size: 12px;
    font-weight: 700;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.dev-desc h2 {
    padding-top: 2.25em;
}
.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

/* colors example */
span.color {
    float: left;
    width: 122px;
    margin-right: 10px;
    margin-bottom: 10px;
}
span.color img {
    border: 1px solid #555555;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
}
.swatch {
    border-top: none;
    width: 122px;
}
.swatch span {
    font-size: 0.75em;
    display: block;
}
.swatch .name {
    font-weight: bold;
}
.clear {
    clear: both;
}

/** ngdemo */

.welcome,
.c404{
    text-align: center;
}

.c404 img {
    padding: 2em 0;
}

.welcome-logo {
    height: 144px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.third-logos {
    vertical-align: middle;
}

.container {
    min-height: 100%;
}
/* example styles */
.ex_alv .sidebar {
    float: none;
    width: 300px;
}
.ex_alv .navbar-header {
    float: none;
    width: 100%;
    background-color: black;
}
.ex_alv .navbar-header .sidebar-toggle {
    display: block !important;
}

/** bootstrap logo */
.bs-docs-booticon {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
margin: 0 auto 30px;
}
.bs-docs-booticon-outline {
background-color: transparent;
border: 1px solid #cdbfe3;
}
.bs-docs-booticon-lg {
width: 144px;
height: 144px;
font-size: 108px;
line-height: 140px;
}
.bs-docs-booticon {
display: block;
font-weight: 500;
color: #fff;
text-align: center;
cursor: default;
background-color: #563d7c;
border-radius: 15%;
}

/* glyphicons */
.bs-glyphicons {
    margin: 0 -10px 20px;
    overflow: hidden;
}
.bs-glyphicons-list {
    padding-left: 0;
    list-style: none;
}
.bs-glyphicons li {
    float: left;
    width: 33%;
    font-size: 12px;
    height: 100px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff;
}

@media (min-width: 768px) {
    .bs-glyphicons li {
        width: 12%;
    }
}
.glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
    font-family: 'Frutiger Neue Light', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
}
.bs-glyphicons .adminIcons {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.bs-glyphicons li:hover {
    color: #fff;
    background-color: rgb(159, 204, 226);
}

/* github */
a[href*='github.com']:after {
    margin-left: 0;
    content: "";
}

/* release notes */
.show.alpha a, .show.beta a, .show.poc a, .show.rc a {
    height: 100%;
}

.footer .regular {
    font-weight: 400;
}
.cd-bund img {
    border-right: none;
}
.cd-bund h1 {
    border-left: 1px solid #777;
}